*{
    margin:0;
    padding: 0;
    text-transform: none;
    list-style: none;
}
.hideMe{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -40px;
    top: 30px;
    background-color: bisque;
    padding: 10px 10px 10px 20px;
}

.hovered{
    opacity: 1;
    visibility: visible;
    z-index: 111;
}
.main{
   display: flex;
   align-items: center;
   background-color: bisque;
   li {
    margin: 10px 0 10px 0;
        a{
            color: #ffffff;
            text-decoration: none;
            font-size: 20px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;

            &:hover{
                color: red;
            }
        } 
   }

}




